@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script&family=Cabin:wght@200;300;400;500;600;700&display=swap');
:root {
	/* --bg-black-900: #f2f2fc;
	--bg-black-100: #fdf9ff;
	--bg-black-50: #e8dfec;
	--text-black-900: #302e4d;
	--text-black-700: #504e70; */
	--bg-black-900: #fffcf8;
	--bg-black-100: #f6f0ed;
	--bg-black-50: #ece1df;
	--text-black-900: #372e4d;
	--text-black-700: #5c4e70;
}
body.dark {
	--bg-black-900: #151515;
	--bg-black-100: #222222;
	--bg-black-50: #393939;
	--text-black-900: #ffffff;
	--text-black-700: #e9e9e9;
}
body {
	line-height: 1.5;
	font-size: 16px;
	font-family: 'Cabin';
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}
::before,
::after {
	box-sizing: border-box;
}
@media (max-width: 1199px) {
	.section .container {
		padding-top: 70px;
	}
	.aside {
		left: -270px;
	}
	.aside.open {
		left: 0;
	}
	.aside .nav-toggler {
		display: flex;
		left: 30px;
	}
	.aside .nav-toggler.open {
		left: 300px;
	}
	.section {
		left: 0;
	}
	.section.open {
		left: 150px;
	}
	.about .about-content .personal-info .info-item p span {
		display: block;
		margin-left: 0;
	}
}
@media (max-width: 991px) {
	.contact .contact-info-item,
	.portfolio .portfolio-item,
	.languages .languages-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.home .home-info {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.home .home-img {
		display: none;
	}
}
@media (max-width: 767px) {
	.contact .contact-form .col-6,
	.contact .contact-info-item,
	.portfolio .portfolio-item,
	.languages .languages-item,
	.about .about-content .experience,
	.about .about-content .education,
	.about .about-content .skills,
	.about .about-content .personal-info {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
